
@font-face {
	font-family: 'Sunday';
	src: url('../fonts/sunday.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sunday.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sunday.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sunday.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sunday.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sunday.svg#sunday') format('svg'); /* Chrome < 4, Legacy iOS */
}


body {
    background-color: rgb(236, 230, 214);
    margin-left: 40px;
    margin-bottom: 30px;
}

h1 {
    color: blue;
    font-family: 'Sunday', sans-serif;
    margin-bottom: 40px;
}

h2 {
    color:rgb(1, 116, 28);
    margin-bottom: 30px;
}

h3 {
    color:rgb(96, 2, 82);
    font-family: 'Sunday', sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
}

a {
    font-family: 'Sunday', sans-serif;
}

img {
    width: 500px;
    margin-left: 40px;
}

li {
    font-family: 'Sunday', sans-serif;
    margin-bottom: 8px;
}

ul, ol {
    margin-bottom: 30px;
}




/* работа с классами */

.imageFirst {
    width: 300px;
    margin-left: 40px;
}

.largetext {
    color: rgb(2, 96, 91);
}

.bigtext {
    font-size: 0.9rem;
    margin-left: 50px;
    margin-bottom: 30px;
}

.biglink {
    font-size: 1.2rem;
}

/* подсвечивание ссылки при наведении курсора */
a:hover {
    color: rgb(247, 90, 210);
}

/* стиль заметки в прямоугольнике*/
.shadowbox {
    width: 50em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd, 40%, #ccc);
    margin-bottom: 50px;
    margin-top: 50px;
}

/* стиль кнопок */
.button1 {
    background-color:rgb(236, 200, 242);
    font-family: 'Sunday', sans-serif;
    font-size: 1.1rem;
    margin-left: 1000px;
    border: 1px solid #333;
    box-shadow: 5px 5px 3px #444;
    padding: 8px 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button2 {
    background-color:rgb(200, 242, 238);
    font-family: 'Sunday', sans-serif;
    font-size: 1.1rem;
    margin-left: 50px;
    border: 1px solid #333;
    box-shadow: 5px 5px 3px #444;
    padding: 8px 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}